.container {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
  overflow: hidden;
  background: $background;
}

.wrapper {
  position: absolute;
  bottom: 0;
  width: 90%;
}