.container {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background: $background;
}