html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Rob;
}

h1 {
  margin: 0 auto;
  font-family: RobLight;
  font-size: 3.75rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  color: $primary;
}

p {
  margin-top: 11px;
  font-weight: 100;
  letter-spacing: -0.02rem;
  color: $primary;
}

ul {font-family: RobLight;}

li {margin: 10px auto;}




// .input-field {display: none;}

// Overrides Materialize default placeholder style
::placeholder {color: lighten($accent, 45%);}

// Overrides Materialize default border color
input[type=text]:not(.browser-default) {
  font-size: 1.125rem;
  border-bottom: 1px solid $accent;

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $accent;
    box-shadow: 0 1px 0 0 $accent;
  }
}
