@function get-vh($object) {
    $vh: (768 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}

.align-bottom {
    position: relative;
    top: 3vh;
}

.align-vertical {
    display: flex;
    align-items: center;
}


.custom-material-icons {
    color: $secondary;
    padding-right: 2%;
}

.card-medium {
    width: 90vw;
    min-height: get-vh(400px);
}

.galliano {background-color: $secondary;}
