@function get-vh($object) {
    $vh: (768 * 0.01) * 1px;
    @return ($object / $vh) * 1vh;
}

.align-bottom {
    position: relative;
    top: 3vh;
}

.align-vertical {
    display: flex;
    align-items: center;
}

.custom-material-icons {
    padding-right: 2%;
    font-size: 2rem;
    color: $secondary;
}

.card-medium {
    width: 90vw;
    min-height: get-vh(400px);
}

.show {display: block !important;}

.stirke-through {
    opacity: 0.4;
    text-decoration-line: line-through;
}

.checkmark {
    background-image: url("/asset/icons/checkmark-24px.svg");
    background-repeat: no-repeat;
    background-position: 25% 55%;
}

.galliano {background-color: $secondary;}
